/* Estilos para tabletas y celulares en modo vertical  */
@media (max-width: 1024px) and (orientation: portrait) {
    
    .body{
        background-image: url(/assets/images/update/web\ template\ Fondo\ Vertical\ 4Anim.GIF);
        background-size:100% 100%;
        overflow: hidden;
    }

    .container-tv{
      bottom: 22vw;
      left:1%;
    }

    .tv-video{
        height: 76%; 
        width: 49vw;
        left: 5%;
    }
    
    /* .logo{
        font-size: 1.9rem;
        top:56.8%;
    }

    .logo-ig{
        top:68%;
    }

    .mail-info {
        top:81.2%;
    } */
}

@media (min-height: 375px) and (max-width: 1280px) and (orientation: landscape) {
    
    .tv-image {
        height: 75%;
        width: 70vw;
    }

    
    /* .logo{
        font-size: 1.9rem;
        top:56.8%;
    }

    .logo-ig{
        top:68%;
    }

    .mail-info {
        top:81.2%;
    } */
}

/* Estilos para celulares en modo horizontal */
/* @media (max-width: 1023px) and (orientation: landscape) {

    .tv-image {
        height: 75%;
        width: 54vw;
    }

    .container-tv{
        left: 3%;
        bottom: 1%;
    }
    
    .tv-video{
        top: 11%;
        left: 5%;
        height: 76%; 
        width: 35vw;
    } */

    /* .logo{
        font-size: 0.6rem;
        top:91%;
        left:14%;
    }

    .logo-ig{
        left:48%;
    }

    .mail-info {
       left:73%;
    } */
/* } */

/* @media (min-height: 200px) and (max-width: 1023px) and (orientation: landscape) {

    .tv-image {
        height: 75%;
        width: 54vw;
    }

    .container-tv{
        left: 3%;
        bottom: 1%;
    }
    
    .tv-video{
        top: 11%;
        left: 5%;
        height: 76%; 
        width: 35vw;
    } */

    /* .logo{
        font-size: 0.6rem;
        top:91%;
        left:14%;
    }

    .logo-ig{
        left:48%;
    }

    .mail-info {
       left:73%;
    } */
/* } */
